/* header */
header {
    position: fixed;
    z-index: 10000;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    top: 0;
    background: rgba(255, 255, 255, 0.8);
}

header .inner {
    display: flex;
    justify-content: space-between;
    /* 위아래 가운데 정렬 */
    align-items: center;
}

.logo {
    /* svg가 아닌 이미지는 부모 사이즈를 줘야함 */
    width: 242px;
}

.main-menu {
    display: flex;
    gap: 8rem;
}

.main-menu>li {
    position: relative;
}

.main-menu>li>a {
    font-size: 2rem;
    display: block;
    line-height: 70px;
}

.main-menu>li:hover>a {
    color: var(--main-color);
}

/* 메뉴호버시 나오는 막대 */
.main-menu>li::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    /* 부모 .main-menu>li */
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;

}

.main-menu>li:hover::after {
    width: 100%;
}

.depth1 {
    display: none;
    position: absolute;
    font-size: var(--text-size);
    background-color: pink;
    line-height: 1.7;
    top: 68px;
}

.gnb-wrap {
    display: flex;
    gap: 3rem;
}

.gnb-wrap .lang {
    position: relative;
}

.gnb-wrap .lang>a {
    font-size: var(--text-size);
    background: url(../images/icon-down.svg) no-repeat 100% center;
    padding-right: 30px;
    /* 글자가 살짝 올라가있어서 가운데 맞추기 */
    display: flex;
    align-items: center;
}

/* 스크립트로 아이콘 바꿔주는효과 추가 */
.gnb-wrap .lang a.active {
    background: url(../images/icon-up.svg);
}

.gnb-wrap .lang a .lang-chnage {}

.gnb-wrap .lang-list {
    display: none;
    /* 부모 .gnb-wrap .lang */
    position: absolute;
    background: #fff;
    padding: 12px;
    width: 80px;
    border-radius: 10px;
    font-size: 1.4rem;
    line-height: 2;
    text-align: center;
    top: 48px;
    left: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

}

.gnb-wrap .gnb-list {
    display: flex;
    gap: 1rem;
}


/* footer */

footer {
    padding-top: 7rem;
}

footer .inner {
    position: relative;
}

.top-btn {
    position: absolute;
    right: 0;
    top: -70px;
}

.top-btn>a {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background: rgba(255, 38, 38, 0.5);
    transition: 0.8s;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top-btn>a::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    /* background: url(../images/icon-up-white.svg); */
    background: url(../images/icon-arrow-45deg.svg);
    background-size: 100%;
    transform: rotate(-45deg);

}

.top-btn>a:hover {
    background: var(--main-color);
}



footer .inner {
    max-width: 1700px;
    background: #636363;
    border-radius: var(--large-radius) var(--large-radius) 0 0;
    padding: 50px 110px;
    display: flex;
    justify-content: space-between;
    font-size: var(--text-size);
    color: #f3f3f3;
    font-weight: 300;
}

.footer-left {}

.footer-left address {
    margin: 3rem 0 2rem;
}

.footer-left .custom-center {
    margin-top: 3rem;
    font-weight: 500;
}

.footer-right {
    /* flex에서 위아래로 떨어뜨려놓고싶을때 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 선택자가 다를때 자식요소 전체 선택할 경우 >*
 .footer-right>* */
.footer-right>ul {
    display: flex;
    justify-content: flex-end;
}

.footer-right>.footer-menu {
    gap: 5rem;
}

.footer-right>.sns-list {}

.footer-right>.sns-list img {
    width: 44px;
}